* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 300vh;
}
img {
    width: 100%;
}
.bottom-0 {
    bottom: 0;
}
.bg-red {
    background-color: red;
}
.grey {
    color: rgb(170, 170, 170);
}
svg {
    width: 150px;
}
.container {
    min-width: 100%!important;
}
@media screen and (min-width: 992px) {
    .header-height {
        min-height: 120px;
    }
    svg {
        width: 500px;
    }
    .container {
        min-width: 95%!important;
    }
}
input {
    width: 80px;
    outline: none;
    border: none;
}
.travel-link {
    color: #000;
    background-color: rgb(144, 158, 124);
    font-size: 12px;
}
.travel-link:hover {
    background-color: #000;
    color: rgb(144, 158, 124);
}